@media screen and (max-width: 768px) {

/*block name*/

    .bag-name-block {
        padding: 3% 0 3% 8%;
    }

    .bag-name-block h1{
        font-size: 25pt;
        margin: 0;
    }

/*goods*/

    .point {
        width: 100%;
    }

/*item-info-block*/

    .item-name {
        font-size: 16pt;
    }

    .item-price {
        font-size: 18pt;
    }

    .item-info-container {
        font-size: 14pt;
    }

    .item-color,
    .item-size,
    .items-quantity {
        margin: 0 0 4% 0;
    }

    .remove-block {
        font-size: 16pt;
    }

    .checkout-block {
        flex-direction: column;
        font-size: 11pt;
        font-weight: bold;
    }

    .text-proposition br {
        content: normal;
    }

    .item-info-container {
        margin: 2em 0 0 2em;
    }

}

@media screen and (max-width: 500px) {

    .item-name {
        font-size: 11pt;
    }

    .item-price {
        font-size: 12pt;
        margin: 0 0 10% 0;
    }

    .item-info-container {
        font-size: 11pt;
    }

    .text-proposition {
        font-size: 8pt;
    }

    .item-color,
    .item-size,
    .items-quantity {
        font-size: 9pt;
    }
}


